/* CSS Document */
body{
	font-size: 1em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.menubar{	
	background-image: url(../images/logo32.png);
	background-repeat: no-repeat;
	background-position: 8px 8px;
	background-color: darkblue;
}
.menubar ul li:hover{
	background-color: rgba(255,255,255,0.2);
}
.menubar ul li a
{
	text-decoration: none;
	color: white;
}
.title{
	font-size: 6em;
}
.subtitle{
	font-size: 2em;
}
.ornatefont{
	font-family:Castellar, Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
}

